<table border="1">
    <thead>
        <tr>
            <th colspan="2">
                Searchable Indexes
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Land Index</td>
            <td><a href="{{orb.land_url}}" target="_blank" rel="noopener noreferrer">Goto Land Index</a></td>
        </tr>
        <tr>
            <td>Assessor</td>
            <td><a href="{{orb.assessor_url}}" target="_blank" rel="noopener noreferrer">Goto Assessor</a></td>
        </tr>
        <tr>
            <td>Tax Collector</td>
            <td><a href="{{orb.tax_url}}" target="_blank" rel="noopener noreferrer">Goto Taxes</a></td>
        </tr>
    </tbody>
</table>
